In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
#url ="https://www.vgchartz.com/gamedb/"
#html = requests.get(url)

#ds = pd.DataFrame(response.json())

#html_doc = pd.read_html(url)
soup = BeautifulSoup(html.text, 'html.parser')

NameError: name 'html' is not defined

In [16]:
names = soup.find_all("td", {"style": "font-size:12pt;"})
print(len(names))

50

In [30]:
#pd.read_html(url)
html_doc = pd.read_html(url)
df = html_doc[-2]

In [48]:
clean_df = pd.DataFrame()
clean_df['Names'] = df.iloc[:,2]
clean_df['Total_shipped'] = df.iloc[:,8]

In [49]:
clean_df

                             Names Total_shipped
0                           Tetris       496.40m
1                          Pokemon       464.84m
2                     Call of Duty       400.00m
3                      Super Mario       398.51m
4                 Grand Theft Auto       395.00m
5                             FIFA       325.00m
6                        Minecraft       238.00m
7                        Minecraft       238.00m
8                             Lego       203.22m
9                 Assassin's Creed       200.00m
10                        The Sims       200.00m
11              Grand Theft Auto V       175.00m
12                      Mario Kart       173.41m
13                   Final Fantasy       173.20m
14                  Need for Speed       150.00m
15                     Tomb Raider       141.00m
16                   Resident Evil       139.00m
17                          NBA 2K       130.00m
18                      Madden NFL       130.00m
19             The Legend of Zelda       125.31m
20             Wii/Nintendo Sports       124.65m
21  Pro Evolution Soccer/eFootball       112.50m
22              Sonic the Hedgehog        95.51m
23                  Monster Hunter        90.30m
24                    Gran Turismo        90.00m
25                    Dragon Quest        85.00m
26                      Wii Sports        82.90m
27                            Halo        81.00m
28                   Mortal Kombat        79.00m
29                     Battlefield        78.90m
30                     Borderlands        78.00m
31                 Animal Crossing        76.46m
32                            PUBG        75.00m
33                           Worms        75.00m
34               Super Smash Bros.        71.73m
35                     Mario Party        70.09m
36                      Just Dance        70.00m
37                        Red Dead        70.00m
38                          WWE 2K        70.00m
39   PlayerUnknown's Battlegrounds        70.00m
40                     Dragon Ball        65.85m
41                      God of War        65.50m
42                    Civilization        65.00m
43                     The Witcher        65.00m
44                The Oregon Trail        65.00m
45                  Counter-Strike        65.00m
46                     Donkey Kong        65.00m
47                      Metal Gear        59.50m
48               The Elder Scrolls        58.62m
49                          Diablo        55.00m

In [ ]:
f(https://www.vgchartz.com/games/games.php?page={n}&console=3DS&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=0&showpalsales=0&showjapansales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=0&showvgchartzscore=1&showcriticscore=1&showuserscore=1)

In [73]:

def grab_total_shipped(p):
    url = f"https://www.vgchartz.com/games/games.php?page={p}&console=3DS&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=0&showpalsales=0&showjapansales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=0&showvgchartzscore=1&showcriticscore=1&showuserscore=1"
    html_doc = pd.read_html(url)    
    #Grab the columns on the page 
    df = html_doc[-2]
    if p == 1:
        dfA = pd.DataFrame()
        dfB = pd.DataFrame()
        dfA['Names'] = df.iloc[:,2]
        dfA['Total_shipped'] = df.iloc[:,8]
    elif p == 24 :
        #dfB = pd.DataFrame()
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]        
        dfA = pd.concat([dfA, dfB])
        
    elif p > 1 :
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]        
        dfA = pd.concat([dfA, dfB])
    return dfA  

#x = pd.DataFrame(map(grab_total_shipped, range(1,4)))
#print(x)
grab_total_shipped(1)

                                                Names Total_shipped
0                        Mario Kart 7 Read the review        15.49m
1                         Pokémon X/Y Read the review        16.13m
2                                    Pokémon Sun/Moon        15.17m
3           Pokémon Omega Ruby/Pokémon Alpha Sapphire        12.73m
4             New Super Mario Bros. 2 Read the review        11.33m
5           Animal Crossing: New Leaf Read the review        10.90m
6                 Super Mario 3D Land Read the review        11.56m
7           Super Smash Bros. for 3DS Read the review         8.32m
8                   Pokémon: Ultra Sun and Ultra Moon         7.15m
9   Yokai Watch 2: Bony Spirits / Fleshy Souls / P...         3.65m
10                                     Tomodachi Life         5.88m
11         Luigi's Mansion: Dark Moon Read the review         5.44m
12  The Legend of Zelda: Ocarina of Time 3D Read t...         2.00m
13            The Legend of Zelda: Ocarina of Time 3D         5.33m
14                  Nintendogs + cats Read the review         4.15m
15                         Monster Hunter Generations         3.56m
16  The Legend of Zelda: A Link Between Worlds Rea...         3.57m
17                          Monster Hunter 4 Ultimate         3.96m
18                                   Monster Hunter 4         3.44m
19                                  Super Mario Maker         3.23m
20               Animal Crossing: Happy Home Designer         3.41m
21  The Legend of Zelda: Majora's Mask 3D Read the...         2.50m
22                                  Fire Emblem Fates         1.98m
23                                        Yokai Watch         2.55m
24           Mario Party: Island Tour Read the review         2.40m
25     Donkey Kong Country Returns 3D Read the review         2.13m
26          Mario & Luigi: Dream Team Read the review         2.33m
27                               Kirby: Triple Deluxe         2.05m
28                                  Monster Hunter 3G         2.82m
29          Paper Mario: Sticker Star Read the review         2.41m
30  Yokai Watch Blasters: Red Cat Corps / White Do...         2.44m
31             Fire Emblem: Awakening Read the review         2.10m
32          Yokai Watch 3: Sushi / Tempura / Sukiyaki         1.53m
33                 Yoshi's New Island Read the review         1.66m
34             LEGO City Undercover: The Chase Begins         1.74m
35                                    Dragon Quest XI         1.82m
36                        Monster Hunter Double Cross         1.68m
37                     Tomodachi Collection: New Life         1.69m
38                      Pokémon Super Mystery Dungeon         1.41m
39                              Kirby: Planet Robobot         1.32m
40  Dragon Quest VII: Fragments of the Forgotten Past         1.61m
41                  Mario Tennis Open Read the review         1.00m
42                                   Puzzle & Dragons         1.52m
43  Professor Layton and the Mask of Miracle Read ...         1.84m
44                          Style Savvy: Trendsetters         0.75m
45                       Style Savvy: Fashion Forward         0.83m
46      Bravely Default: Flying Fairy Read the review         1.41m
47               Pokémon Rumble Blast Read the review         1.15m
48         Pokémon Mystery Dungeon: Gates to Infinity         1.31m
49               Kid Icarus: Uprising Read the review         1.28m

In [2]:
platform = 'NS'
last_page = 24
for p in range(1,last_page):
    url = f"https://www.vgchartz.com/games/games.php?page={p}&console={platform}&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=0&showpalsales=0&showjapansales=0&showothersales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=0&showvgchartzscore=1&showcriticscore=1&showuserscore=1&showshipped=1"
    html_doc = pd.read_html(url)    
    #Grab the columns on the page 
    df = html_doc[-2]
    if p == 1:
        dfA = pd.DataFrame()
        dfB = pd.DataFrame()
        dfA['Names'] = df.iloc[:,2]
        dfA['Total_shipped'] = df.iloc[:,8]
        dfA['Total_sales'] = df.iloc[:,9]
    elif p == last_page :
        dfB = pd.DataFrame()
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]
        dfB['Total_sales'] = df.iloc[:,9]
        dfA = pd.concat([dfA, dfB])
        
    elif p > 1 :
        dfB['Names'] = df.iloc[:,2]
        dfB['Total_shipped'] = df.iloc[:,8]
        dfB['Total_sales'] = df.iloc[:,9]
        dfA = pd.concat([dfA, dfB])

In [9]:
#With 3DS
if platform == "3DS":
    df_3DS = dfA
    df_3DS.reset_index(inplace = True)
    df_3DS.to_csv() 
#With iOS
elif platform == "iOS":
    df_iOS = dfA
    df_iOS.reset_index(inplace = True)
elif platform == "NS":
    df_NS = dfA
    df_NS.reset_index(inplace = True)

ValueError: cannot insert level_0, already exists

In [4]:
df_3DS

,index,Names,Total_shipped,Total_sales
0,0,Mario Kart 7 Read the review,18.97m,NaN
1,1,Pokémon X/Y Read the review,16.65m,NaN
2,2,Pokémon Sun/Moon,16.29m,NaN
3,3,Pokémon Omega Ruby/Pokémon Alpha Sapphire,14.53m,NaN
4,4,New Super Mario Bros. 2 Read the review,13.41m,NaN
...,...,...,...,...
1145,45,Zone Warrior,NaN,NaN
1146,46,ZoneOut,NaN,NaN
1147,47,Lionel City Builder 3D: Rise of the Rails,NaN,NaN
1148,48,abc,NaN,NaN
1149,49,AeternoBlade,NaN,NaN

In [60]:
def grab_total_shipped(p):
    url = f"https://www.vgchartz.com/games/games.php?page={p}&console=3DS&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=0&showpalsales=0&showjapansales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=0&showvgchartzscore=1&showcriticscore=1&showuserscore=1"
    html_doc = pd.read_html(url)    
    #Grab the columns on the page 
    df = html_doc[-2]
    return df  

def make_dataFrame(p):
    a = 0
    if a < len(p):
        dfA = pd.DataFrame()
        dfB = pd.DataFrame()
        dfA['Names'] = p[a].iloc[:,2]
        dfA['Total_shipped'] = p[a].iloc[:,8]
    elif p == 24 :
        dfB = pd.DataFrame()
        dfB['Names'] = p[a].iloc[:,2]
        dfB['Total_shipped'] = p[a].iloc[:,8]        
        dfA = pd.concat([dfA, dfB])
        
    elif p > 1 :
        dfB['Names'] = p[a].iloc[:,2]
        dfB['Total_shipped'] = p[a].iloc[:,8]        
        dfA = pd.concat([dfA, dfB])        
    
    return dfA
        
        
x = list(map(grab_total_shipped, range(1,4)))
y = make_dataFrame(x)
print(x)

[                                      Results: (1,193)       \
   A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
                                                   Pos Game
0                                                   1   NaN
1                                                   2   NaN
2                                                   3   NaN
3                                                   4   NaN
4                                                   5   NaN
5                                                   6   NaN
6                                                   7   NaN
7                                                   8   NaN
8                                                   9   NaN
9                                                  10   NaN
10                                                 11   NaN
11                                                 12   NaN
12                                                 13   NaN
13                                                 14   NaN
14                                                 15   NaN
15                                                 16   NaN
16                                                 17   NaN
17                                                 18   NaN
18                                                 19   NaN
19                                                 20   NaN
20                                                 21   NaN
21                                                 22   NaN
22                                                 23   NaN
23                                                 24   NaN
24                                                 25   NaN
25                                                 26   NaN
26                                                 27   NaN
27                                                 28   NaN
28                                                 29   NaN
29                                                 30   NaN
30                                                 31   NaN
31                                                 32   NaN
32                                                 33   NaN
33                                                 34   NaN
34                                                 35   NaN
35                                                 36   NaN
36                                                 37   NaN
37                                                 38   NaN
38                                                 39   NaN
39                                                 40   NaN
40                                                 41   NaN
41                                                 42   NaN
42                                                 43   NaN
43                                                 44   NaN
44                                                 45   NaN
45                                                 46   NaN
46                                                 47   NaN
47                                                 48   NaN
48                                                 49   NaN
49                                                 50   NaN

                                                       \

                                               Game.1
0                        Mario Kart 7 Read the review
1                         Pokémon X/Y Read the review
2                                    Pokémon Sun/Moon
3           Pokémon Omega Ruby/Pokémon Alpha Sapphire
4             New Super Mario Bros. 2 Read the review
5           Animal Crossing: New Leaf Read the review
6                 Super Mario 3D Land Read the review
7           Super Smash Bros. for 3DS Read the review
8                   Pokémon: Ultra Sun and Ultra Moon
9   Yokai Watch 2: Bony Spirits / Fleshy Souls / P...
10                                     Tomodachi Life
11         Luigi's Mansion: Dark Moon Read the review
12  The Legend of Zelda: Ocarina of Time 3D Read t...
13            The Legend of Zelda: Ocarina of Time 3D
14                  Nintendogs + cats Read the review
15                         Monster Hunter Generations
16  The Legend of Zelda: A Link Between Worlds Rea...
17                          Monster Hunter 4 Ultimate
18                                   Monster Hunter 4
19                                  Super Mario Maker
20               Animal Crossing: Happy Home Designer
21  The Legend of Zelda: Majora's Mask 3D Read the...
22                                  Fire Emblem Fates
23                                        Yokai Watch
24           Mario Party: Island Tour Read the review
25     Donkey Kong Country Returns 3D Read the review
26          Mario & Luigi: Dream Team Read the review
27                               Kirby: Triple Deluxe
28                                  Monster Hunter 3G
29          Paper Mario: Sticker Star Read the review
30  Yokai Watch Blasters: Red Cat Corps / White Do...
31             Fire Emblem: Awakening Read the review
32          Yokai Watch 3: Sushi / Tempura / Sukiyaki
33                 Yoshi's New Island Read the review
34             LEGO City Undercover: The Chase Begins
35                                    Dragon Quest XI
36                        Monster Hunter Double Cross
37                     Tomodachi Collection: New Life
38                      Pokémon Super Mystery Dungeon
39                              Kirby: Planet Robobot
40  Dragon Quest VII: Fragments of the Forgotten Past
41                  Mario Tennis Open Read the review
42                                   Puzzle & Dragons
43  Professor Layton and the Mask of Miracle Read ...
44                          Style Savvy: Trendsetters
45                       Style Savvy: Fashion Forward
46      Bravely Default: Flying Fairy Read the review
47               Pokémon Rumble Blast Read the review
48         Pokémon Mystery Dungeon: Gates to Infinity
49               Kid Icarus: Uprising Read the review

                                     << 1 2 3 4 5 6 >>  \
   A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
                                               Console
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN

                                                                        \

                      Publisher VGChartz Score Critic Score User Score
0                      Nintendo            9.0          8.2        NaN
1                      Nintendo            8.7          8.9        9.3
2                      Nintendo            NaN          9.0        NaN
3                      Nintendo            NaN          NaN        NaN
4                      Nintendo            7.6          7.5        NaN
5                      Nintendo            9.0          8.6        NaN
6                      Nintendo            9.1          8.9        NaN
7                      Nintendo            8.6          8.4        NaN
8                      Nintendo            NaN          8.1        NaN
9                      Nintendo            NaN          NaN        NaN
10                     Nintendo            NaN          7.8        NaN
11                     Nintendo            7.0          8.6        NaN
12                     Nintendo            9.2          9.3        NaN
13                     Nintendo            NaN          9.5        NaN
14                     Nintendo            7.7          7.2        NaN
15                       Capcom            NaN          8.8        NaN
16                     Nintendo            9.0          9.3        NaN
17                       Capcom            NaN          8.8        NaN
18                       Capcom            NaN          NaN        NaN
19                     Nintendo            NaN          7.3        NaN
20                     Nintendo            NaN          6.6        NaN
21                     Nintendo            9.0          9.0        NaN
22                     Nintendo            NaN          NaN        NaN
23                     Nintendo            NaN          7.7        NaN
24                     Nintendo            6.8          5.5        NaN
25                     Nintendo            8.8          8.6        NaN
26                     Nintendo            7.8          8.0        NaN
27                     Nintendo            NaN          7.8        NaN
28                       Capcom            NaN          7.6        NaN
29                     Nintendo            6.8          NaN        NaN
30                     Nintendo            NaN          NaN        NaN
31                     Nintendo            9.3          9.0        NaN
32                      Level 5            NaN          NaN        NaN
33                     Nintendo            6.8          NaN        NaN
34                     Nintendo            NaN          6.2        NaN
35                  Square Enix            NaN          NaN        NaN
36                       Capcom            NaN          NaN        NaN
37                     Nintendo            NaN          NaN        NaN
38                     Nintendo            NaN          7.7        NaN
39                     Nintendo            NaN          7.7        NaN
40                     Nintendo            NaN          NaN        NaN
41                     Nintendo            6.5          6.6        NaN
42  GungHo Online Entertainment            NaN          NaN        NaN
43                     Nintendo            8.5          8.4        NaN
44                     Nintendo            NaN          NaN        NaN
45                     Nintendo            NaN          6.5        NaN
46                     Nintendo            8.8          8.2        NaN
47                     Nintendo            5.6          5.3        NaN
48                     Nintendo            NaN          5.9        NaN
49                     Nintendo            9.2          8.0        NaN

                             \

   Total Sales Release Date
0       15.49m  04th Dec 11
1       16.13m  12th Oct 13
2       15.17m  18th Nov 16
3       12.73m  21st Nov 14
4       11.33m  19th Aug 12
5       10.90m  09th Jun 13
6       11.56m  13th Nov 11
7        8.32m  03rd Oct 14
8        7.15m  17th Nov 17
9        3.65m  30th Sep 16
10       5.88m  06th Jun 14
11       5.44m  24th Mar 13
12       2.00m  19th Jun 11
13       5.33m  19th Jun 11
14       4.15m  27th Mar 11
15       3.56m  15th Jul 16
16       3.57m  22nd Nov 13
17       3.96m  13th Feb 15
18       3.44m  14th Sep 13
19       3.23m  02nd Dec 16
20       3.41m  25th Sep 15
21       2.50m  13th Feb 15
22       1.98m  19th Feb 16
23       2.55m  06th Nov 15
24       2.40m  22nd Nov 13
25       2.13m  24th May 13
26       2.33m  11th Aug 13
27       2.05m  02nd May 14
28       2.82m  19th Mar 13
29       2.41m  11th Nov 12
30       2.44m  07th Sep 18
31       2.10m  04th Feb 13
32       1.53m  16th Jul 16
33       1.66m  14th Mar 14
34       1.74m  21st Apr 13
35       1.82m  29th Jul 17
36       1.68m  18th Mar 17
37       1.69m  13th Apr 13
38       1.41m  20th Nov 15
39       1.32m  10th Jun 16
40       1.61m  16th Sep 16
41       1.00m  20th May 12
42       1.52m  12th Dec 13
43       1.84m  28th Oct 12
44       0.75m  22nd Oct 12
45       0.83m  19th Aug 16
46       1.41m  07th Feb 14
47       1.15m  24th Oct 11
48       1.31m  24th Mar 13
49       1.28m  23rd Mar 12

                                   Unnamed: 10_level_0
   A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
                                   Unnamed: 10_level_2
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43                                                NaN
44                                                NaN
45                                                NaN
46                                                NaN
47                                                NaN
48                                                NaN
49                                                NaN   ,                                       Results: (1,193)       \
   A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
                                                   Pos Game
0                                                  51   NaN
1                                                  52   NaN
2                                                  53   NaN
3                                                  54   NaN
4                                                  55   NaN
5                                                  56   NaN
6                                                  57   NaN
7                                                  58   NaN
8                                                  59   NaN
9                                                  60   NaN
10                                                 61   NaN
11                                                 62   NaN
12                                                 63   NaN
13                                                 64   NaN
14                                                 65   NaN
15                                                 66   NaN
16                                                 67   NaN
17                                                 68   NaN
18                                                 69   NaN
19                                                 70   NaN
20                                                 71   NaN
21                                                 72   NaN
22                                                 73   NaN
23                                                 74   NaN
24                                                 75   NaN
25                                                 76   NaN
26                                                 77   NaN
27                                                 78   NaN
28                                                 79   NaN
29                                                 80   NaN
30                                                 81   NaN
31                                                 82   NaN
32                                                 83   NaN
33                                                 84   NaN
34                                                 85   NaN
35                                                 86   NaN
36                                                 87   NaN
37                                                 88   NaN
38                                                 89   NaN
39                                                 90   NaN
40                                                 91   NaN
41                                                 92   NaN
42                                                 93   NaN
43                                                 94   NaN
44                                                 95   NaN
45                                                 96   NaN
46                                                 97   NaN
47                                                 98   NaN